<!-- Copyright Section-->
<footer>
    <div class="copyright py-4 text-center bg-dark text-white">
        <div class="container"><small>Copyright © Anne Lozier 2020</small></div>
    </div>
</footer>